*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html{
    width: 100vw;
    height: 100vh;
     background-image: linear-gradient(to right, #114060, #154780); 
    color: white;
    
   
}

h3{
    color: #D3B53D;
}

h1{
    color: #D3B53D;
}


main#main-principal{
    width: 100vw;
    height: 100vh;
    display: flex;
    
    
}

main#main-principal > div.total-part{
    color: white;
    width: 15%;
    height: 100%;
    text-align: center;

    
}

main#main-principal > div.total-part > div.first-name{
    height: 33.3%;

}

main#main-principal > div.total-part > div.first-name > img{
    border-radius: 100%;
    margin-top: 40px;
}

main#main-principal > div.total-part > div.codin-languagem-program{
    height: 33.3;
}



main#main-principal > div.total-part > div.social{
    margin-top: 70px;
    height: 33.3;
}

main#main-principal > div.total-part > div.social img{
    width: 55px;
    margin-bottom: 20px;
}


main#main-principal > div.escrita > div.Alan-front-end{
    font-size: 22px;
    width: 100%;
    padding: 4% 2% 2% 3%;
    height: 20%;
    display: flex;
    align-items: center;

    
   
    
}

main#main-principal > div.escrita > div.Alan-front-end img{
    width: 18px;
    height: 18px;
    
}

main#main-principal > div.escrita > div.Alan-front-end hr{
    display: flex;
    align-items: center;
    height: 80px;
}

main#main-principal > div.escrita > div.Alan-front-end > div.header-alan-alves{
    padding-right: 10%;
    
 
}

main#main-principal > div.escrita > div.Alan-front-end > div.localidade{
     padding-left: 20%; 
     padding-right: 3%;
     
}

main#main-principal > div.escrita > div.Alan-front-end > div.redes-sociais-empregos{
    padding-left: 3%;
    padding-right: 3%;
}


main#main-principal > div.escrita > div.Alan-front-end > div.redes-sociais-empregos a{
    text-decoration: none;
    color: white;
}

main#main-principal > div.escrita > div.Alan-front-end > div.pontos-positivos{
    padding-left: 3%;
}

main#main-principal > div.escrita > div.perfil{
   
    height: 75%;
    padding: 0% 3% 3% 3%;
    font-size: 22px;
}

main#main-principal > div.escrita > div.perfil hr{
    margin-bottom: 2%;
}




