*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html{
    width: 100vw;
    height: 100vh;
    background-color: aqua;
}

.header-principal{
    width: 95%; 
    height: 250px; 
    border-top: 0px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 100px solid #4C4B63;
    background-color: blueviolet;
}