*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right, #114060, #154780);
    color: white;
    
   
}

main#main-principal{
    width: 100vw;
    height: 100vh;
    display: flex;
    
    
}

main#main-principal > div.total-part{
    color: white;
    width: 15%;
    height: 100%;
    text-align: center;

    
}

main#main-principal > div.total-part > div.first-name{
    height: 33.3%;

}

main#main-principal > div.total-part > div.first-name > img{
    border-radius: 100%;
    margin-top: 40px;
}

main#main-principal > div.total-part > div.codin-languagem-program{
    height: 33.3;
}



main#main-principal > div.total-part > div.social{
    margin-top: 70px;
    height: 33.3;
}

main#main-principal > div.total-part > div.social img{
    width: 55px;
    margin-bottom: 20px;
}

