*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html{
    width: 100vw;
    height: 100vh;
    /*background-color: #363543;*/
    
    
    
}


header#header-principal > nav.nav-bar{
    display: flex;
    width: 100%;
    height: 70px;
    background-color: red;
    
}


header#header-principal > nav.nav-bar > div.header-icons{
    display: flex;
    width: 100%;
    padding: auto auto;
    
}

header#header-principal > nav.nav-bar > div.header-icons > div.logo{
    width: 35%;
    display: flex;
    align-items: center;
    
    

}

header#header-principal > nav.nav-bar > div.header-icons > div.icons-contato{
    width: 30%;
    display: flex;
    justify-content: center;
    
}

header#header-principal > nav.nav-bar > div.header-icons > div.icons-contato > div.img{
    width: 100%;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;

}


header#header-principal > nav.nav-bar > div.header-icons > div.icons-contato > div.img img{
    width: 100%;
    padding: 70px;
    
    

}


header#header-principal > nav.nav-bar > div.header-icons > div.botao{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;


}

header#header-principal > nav.nav-bar > div.header-icons > div.botao a{
    padding: 10px;
    margin: 5%;
    text-decoration: none;
    color: white;
}

main#main-principal{
    width: 100vw;
    height: 100vh;
    
}

main#main-principal > section.section-principal{
    width: 100%;
    height: 50%;
    background-color: blue;


}

main#main-principal > section.section-principal > div.git-hub{
   
    height: 100px;
    width: 80%;
    margin: auto auto;
    display: flex;
    justify-content: center;
    background-color: black;
    border-radius: 30px;
}

main#main-principal > section.section-principal > div.git-hub > div.contato{
    width: 26.6%;
    margin: auto auto;
    display: flex;
    justify-content: center;
    
}



main#main-principal > section.section-principal > div.div-principal{
    width: 100%;
    height: 100%;
    display: flex;
}

main#main-principal > section.section-principal > div.div-principal > div.blocoEsquerdo{
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main#main-principal > section.section-principal > div.div-principal > div.foto{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

main#main-principal > section.section-principal > div.div-principal > div.foto > img{
    border-radius: 100%;
}

main#main-principal > section.section-principal > div.div-principal > div.Bloco-direito{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

main#main-principal > section.section-two{
    padding-top: 120px;
    width: 100%;
    height: 50%;
    display: flex;


}

main#main-principal > section.section-two > div.div-one{
    width: 50%;
}

main#main-principal > section.section-two > div.div-two{
    width: 50%;
    background-color: aqua;
}

